$purps: rgb(61, 18, 61);
$slate: #333;
$translucentGrey: rgba(0, 0, 0, 0.3);
$translucentBlack: rgba(0, 0, 0, 0.8);
$pressed: inset 0 3px 5px rgba(0,0,0,0.5);
$headerFont: 'Montserrat', 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$mainFont: 'Open Sans', 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
