$purps: #5D478C;
$slate: #333;
$seafoam: rgb(42, 202, 157);
$translucentGrey: rgba(0, 0, 0, 0.3);
$translucentBlack: rgba(0, 0, 0, 0.8);
$pressed: inset 0 3px 5px rgba(0,0,0,0.5);
$headerFont: 'Montserrat', 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$mainFont: 'Open Sans', 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$phoneish: 500px;
$tabletportrait: 800px;
$tabletladscape: 1000px;
