<script type="text/template" id="history">
  <h2>Feeding History</h2>
  <span class="close-btn flex-center">
    <i class="fa fa-close"></i>
  </span>
  <section id="feeding-list">
    <article class="table">
      <% _.forEach(data, function (list, key) { %>
        <section class="column">
          <div class="cell cell-header">
            <h3><%= key %></h3>
          </div>
          <% _.forEach(list, function (feeding) { %>
            <div class="cell">
              <h5><%= moment(feeding.time).format('M/DD - h:mma') %></h5>
              <ul>
                <li>Drank <%= feeding.amount %>oz.</li>
                <li>_.capitalize(<%= feeding.diaper %>) diaper</li>
                <li>_.capitalize(<%= feeding.burp %>) burp</li>
                <li>_.capitalize(<%= feeding.medicine %>)</li>
                <li>_.capitalize(<%= feeding.spit %>) spit-up</li>
              </ul>
            </div>
          <% }) %>
        </section>
      <% }); %>
    </section>
  </section>
</script>
