<script type="text/template" id="overall-info">

  <% _.forEach(data, function(feeding) { %>

    <article>
      <h2><%= feeding.name %> <span class="replace-poop" data-poop="<%= feeding.poopFlag %>"></span></h2>
      <em>Next feeding at ~
        <%= moment(new Date(feeding.time)).add(3, 'hours').format('h:mma') %>
      </em>
      <p>Last Feeding</p>
      <ul>
        <li>
          <%= feeding.amount %>oz at <%= moment(new Date(feeding.time)).format('h:mma') %>
        </li>
        <li>
          Burp: <%= _.capitalize(feeding.burp) %>
        </li>
        <li>
          Diaper: <%= _.capitalize(feeding.diaper) %>
        </li>
        <li>
          Medicine: <%= _.capitalize(feeding.medicine) %>
        </li>
        <li>
          Spit-up: <%= _.capitalize(feeding.spit) %>
        </li>
      </ul>
    </article>

  <% }); %>

</script>
