.editable-list-container {
  .btn-container {
    padding: 2em 0;
    text-align: center;
  }
}
.btn{
  &.btn-add, &.btn-destroy {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: 2px solid #efefef;
    padding: 0;
    color: white;
    text-shadow: 0px 1px #333;
    text-align: center;
    i.fa {
      margin: 1px 0 0 0;
    }
  }
  &.btn-add {
    background: green;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    font-size: 24px;
  }
  &.btn-destroy {
    background: $darkRed;
    position: absolute;
    font-size: 12px;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto 0;
    margin-bottom: 11px;
  }
}

.editable-list {
  list-style-type: none;
  padding: 0;
}

.editable-list li {
  position: relative;
  border-top: 1px solid #ededed;
  &:before {
    font-family: 'FontAwesome';
    top: 21%;
    left: 16px;
    position: absolute;
  }
}

.feeder-list li:before {
  content: '\f007';
}
.meds-list li:before {
  content: '\f1fb';
}

.editable-list li:last-child {
  border-bottom: 1px solid #ededed;
}

.editable-list li.editing {
  padding: 0;
}

.editable-list li.editing .edit {
  border: none;
  display: block;
  width: 100%;
  padding: 12px 17px 12px 60px;
  margin: 0;
  background: darken($purps, 10%);
}

.editable-list li.editing .view {
  display: none;
}

.editable-list li label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.editable-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.editable-list li .edit {
  display: none;
}