@import 'mixins';

.get-started,
.login-form-container {
  @include slide(routechange, bottom, top, $transitionTime, ease);
  background-color: $purps;
}

.login-form-container {
  height: 100vh;
  width: 100vw;
  background-color: $purps;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  .login-form {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      text-align: center;
    }
    p {
      margin-bottom: 1em;
    }
    .submit-btn-container {
      padding-top: 1em;
      text-align: center;
      .submit-btn {
        width: 50%;
        background-color: $seafoam;
        color: white;
      }
    }
  }
}

.form-group {
  margin-bottom: 1em;
  width: 100%;
  label, input {
    display: block;
    width: 100%;
  }
  input {
    border-radius: 3px;
    height: 2em;
    padding-left: 5px;
  }
}

.get-started {
  h3 {
    margin-bottom: 1em;
  }

  .get-started-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .stepper {
    font-size: 12px;
  }

  .frac-stepper-label {
    font-size: 1em;
    height: 7.5em;
  }
}