.width-50 {
  width: 50%;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}