.settings {
  min-height: 100vh;

  .settings-list {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: #FAFAFA;
    text-decoration: none;
  }

  .category {
    position: relative;
    border-top: 1px solid #ededed;
    padding: 1em;
    cursor: pointer;
    &:last-of-type {
      border-bottom: 1px solid #ededed;
    }
    .fa, .emojifier {
      padding: 0 0.5em;
      &.fa-child {
        padding-right: 0.8125em;
      }
    }
    &:after {
      content: '\f054';
      font-family: 'FontAwesome';
      position: absolute;
      right: 1em;
    }
    &:hover, &:active {
      background-color: lighten($purps, 10%);
    }
  }
}

.specific-settings {
  &> div {
    height: 100%;
  }

  .form-container {
    height: 100%;
  }

  .btn.btn-invert.submit-btn {
    width: 200px;
    height: 50px;
    font-size: 1em;
  }

  .form-group {
    label[for='rate'] {
      position: relative;
      &:before {
        content: '$';
        background-color: #DADADA;
        font-size: 1.2em;
        left: 0.15em;
        top: 1.2em;
        color: #333;
        width: 1em;
        height: 1.6em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #333;
        position: absolute;
      }
    }
    input[name='rate'] {
      max-width: 200px;
      padding-left: 1.75em;
      color: #333;
    }
  }
}

.settings-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  .settings-btn {
    z-index: 0
  }
  a {
    color: lighten($purps, 30%);
  }
}