.wizard-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  @media(max-width: $tabletportrait) {
    padding: 2em 1em
  }
  @media(min-width: $tabletportrait) {
    min-height: 50vh;
  }
  .wizard {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    .wizard-btns {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}