@import 'html5bp';
@import 'normalize';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import 'variables';
@import 'helpers';
@import 'mixins';
@import 'wizard';
@import 'editable-list';
@import 'get-started';
@import 'settings';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,400,700);

* {
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html, body {
  background: $purps;
  color: #FAFAFA;
  font-family: $mainFont;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

h1, h2 {
  font-family: $headerFont;
}

h1 {
  margin: 0.5em 0;
}

h2 {
  margin: 0.3em 0;
}

h3 {
  margin: 0.2em 0;
  small {
    font-style: italic;
    font-size: 0.65em;
  }
}

h4 {
  margin: 0.1em 0;
}

input[type="text"] {
  color: #333;
}

input[type="date"] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.table {
  display: flex;
  justify-content: stretch;
  background: aliceblue;
  color: $slate;
  .column {
    width: 50%;
  }
  .cell {
    padding: 1em;
    border: 1px solid #C3C3C3;
    height: 17em;
    position: relative;
    &.cell-header {
      height: 3em;
      padding: 0.5em 1em;
      background: $seafoam;
      border: 1px solid $seafoam;
      color: aliceblue;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.31);
    }
    @media(min-width: $tabletportrait) {
      height: 13em;
    }
    &.transition-to-edit {
      z-index: 1;
      background-color: whitesmoke;
      animation: scaler 0.1s ease-in;
      transition: all 0.1s ease-in;
    }
    &.editing {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      z-index: 1;
      background-color: whitesmoke;
      max-height: none;
      transition: all 0.1s linear;
    }
  }
}

@keyframes scaler {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

.btn {
  border-radius: 5px;
  background: aliceblue;
  color: $slate;
  border: none;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none;

  i.fa {
    margin-right: 5px;

    &.after {
      margin-left: 5px;
    }
  }

  &.btn-invert {
    background: $purps;
    color: aliceblue;

    &:active {
      background: lighten($purps, 25%);
    }

    &.btn-cancel {
      background: #6FAABB;
      display: inline-block;
      width: 47.5%;
      margin-left: 5%;
      text-align: center;
      height: 4rem;
      font-size: 1.5em;

      &:active {
        background: darken(#6FAABB, 25%);
      }
    }

    &.submit-btn {
      background: #2C9C3D;
      width: 47.5%;
      height: 4rem;
      font-size: 1.5em;
      &:disabled {
        opacity: 0.5;
        font-size: 1em;
      }
    }
  }

  &.btn-edit-cell {
    background-color: deepskyblue;
    color: white;
    bottom: 1em;
    position: absolute;
  }

  &.feed-btn {
    width: 45%;

    &.full-width {
      width: 100%;
    }
  }

  &.cancel-btn {
    background-color: #C74444;
  }

  &.timesheet-btn {
    background-color: #35B9E2;
  }

  &.cancel-btn, &.timesheet-btn {
    text-shadow: 0px -1px rgba(12, 12, 12, 0.28);
    width: 95%;
    color: white;
  }

  &:active {
    background: #AAA;
  }

  &[disabled] {
    color: #BBB;
  }
}

.btn:active, input:active, label:active, .close-btn:active {
  box-shadow: $pressed;
}

.stepper {
  position: relative;
  height: 10em;
  width: 5em;
  display: inline-block;
  font-weight: bold;
  margin-right: 1em;
  .btn {
    position: absolute;
    font-weight: bold;
    width: 100%;
    height: 3em;
    i {
      margin-right: 0;
    }
  }
  .top-btn {
    top: 0;
  }
  .bottom-btn {
    position: absolute;
    bottom: 0;
  }
  span {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 2em;
    top: 1.88em;
    left: 0;
    padding-top: 0;
  }
}

.frac-stepper-label {
  display: inline-flex;
  position: absolute;
  font-weight: bold;
  height: 5em;
  font-size: 2em;
  padding-left: 0.5em;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100%;
}

.close-btn, .settings-btn {
  color: aliceblue;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4em;
  height: 4em;
  z-index: 100;
  cursor: pointer;
  background: transparent;
  &.close-btn-fixed {
    position: fixed;
  }
  &:hover, &:focus {
    border: 1px solid aliceblue;
  }
  &:active {
    background: lighten($purps, 25%);
  }
}

.home-screen {
  &.routechange-enter {
    transform: none;
    transition: all $transitionTime ease;
    &.routechange-enter-active {
      transform: none;
      transition: transform $transitionTime ease;
    }
  }
  &.routechange-leave {
    transform: none;
    transition: all $transitionTime ease;
    &.routechange-leave-active {
      transform: none;
      transition: transform $transitionTime ease;
    }
  }
}

.baby-info {
  width: 100%;
  padding: 1em;
  min-height: 30em;
}

.action-btns {
  width: 100%;
  min-height: 20%;
  padding: 1em;
  position: fixed;
  bottom: 0;
  background: $translucentGrey;
  button {
    margin: 0 0.5em 0 0;
  }
}

.modal-sheet, .swipeable-action-sheet {
  left: 0;
  width: 100%;
}

.modal-sheet {
  @include slide(routechange, bottom, bottom, $transitionTime, ease);
  min-height: 100%;
  top: 0;
  background: aliceblue;
  color: $slate;
  padding: 1em;
  z-index: 150;
  overflow-x: hidden;
  max-width: 100vw;
  position: absolute;
}

.switch {
  height: 50px;
  margin: 0 3px 0.25em 0;
  display: inline-block;
  input {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 50px;
    margin: 0 0 0.25em 0;
    z-index: 200;
    opacity: 0;
    cursor: pointer;
    &:checked ~ label {
      background: lighten($purps, 25%);
      box-shadow: $pressed;
    }
  }
  label {
    display: inline-block;
    min-width: 100px;
    height: 100%;
    margin: 0 0 0.25em 0;
    position: relative;
    border-radius: 5px;
    background: $purps;
    color: white;
    text-align: center;
    padding: 12px;
    border: 1px solid black;
  }
}

.pad-bottom-0-25em {
  padding-bottom: 0.25em;
}

.pad-bottom-1em {
  padding-bottom: 1em;
}

@media (max-width: $phoneish) {
  .cell {
    padding: 0.5em;
    max-height: 12em;
    height: auto;
    ul {
      font-size: 0.75em;
      padding-left: 1em;
    }
  }
  .btn-edit-cell {
    font-size: 0.75em
  }
}

.emojifier {
  padding: 0 5px 5px 5px;
  border-radius: 1em;
  &.ok {
    background-color: #2DB12D;
  }
  &.warn {
    background-color: #F3F30C;
  }
  &.uh-oh {
    background-color: #EA1E1E;
  }
  .emoji {
    width: 1em;
    height: 1em;
    display: inline-block;
  }
}

.modal-sheet.edit {
  &.routechange-enter {
    transform: scale(0.25);
    transition: all $transitionTime ease;
    &.routechange-enter-active {
      transform: scale(1);
      transition: transform $transitionTime ease;
    }
  }
  &.routechange-leave {
    transform: scale(1);
    transition: all $transitionTime ease;
    &.routechange-leave-active {
      transform: scale(0.25);
      transition: transform $transitionTime ease;
    }
  }
}

.right-sheet {
  @include slide(routechange, right, right, $transitionTime, ease);
  &:first-child {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  background: $purps;
  transition: all $transitionTime ease;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}

.swipeable-action-sheet {
  height: 40%;
  bottom: 0;
  background: #111;
  z-index: 1;
  position: absolute;
  transition: all $transitionTime ease;
  .action-sheet {
    height: 100%;
    padding-top: 1em;
  }
}

.action-sheet-enter {
  transform: translateY(100%);
  transition: transform $transitionTime linear;
  &.action-sheet-enter-active {
    transform: translateY(0%);
    transition: all $transitionTime linear;
  }
}

.action-sheet-leave {
  transform: translateY(0%);
  transition: transform $transitionTime linear;
  &.action-sheet-leave-active {
    transform: translateY(100%);
    transition: all $transitionTime linear;
  }
}

.flex-col {
  flex-direction: column;
}

.baby-btn-container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  // padding-top: 1em;
  padding-bottom: 1em;
  .btn {
    height: 30%;
  }
}

.timesheet-btn-container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8em;
  .btn {
    // font-weight: normal;
    height: 45%;
    width: 45%;
    background-color: $navy;
    color: white;
    min-height: 3em;
  }
}

.big-colon {
  position: relative;
  &:after {
    content: ':';
    font-size: 2em;
    position: absolute;
    top: -2.65em;
    left: -0.4em;
  }
}

.ampm {
  display: inline-flex;
  align-items: center;
  position: absolute;
  .switch {
    input, label {
      max-width: 100%;
      min-width: 45%;
    }
  }
  height: 10em;
}

.filter-btns {
  width: 100%;
  position: relative;
  .switch {
    width: 33.333%;
    margin-right: 0;
    @media(max-width: $phoneish) {
      font-size: 14px;
      height: 40px;
      label, input {
        font-size: 14px;
        height: 40px;
        padding: 10px 0;
      }
    }
    label, input, input:checked, input:checked~label {
      width: 100%;
      min-width: initial;
    }
    input, input:checked {
      width: 33%;
    }
    label {
      background: #00BFFF;
      color: #FFF;
      border-radius: 0;
      border-right: 2px solid darken(#00BFFF, 15%);
      border-left: none;
    }
    input:checked {
      &~label {
        background: darken(#00BFFF, 15%);
      }
    }
    &:first-child {
      label {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid black;
      }
    }
    &:last-child {
      label {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid black;
      }
    }
  }
  &.type-filter .switch {
    width: 25%;
  }
  &.time-filter {
    margin-bottom: 1em;
  }
}

table {
  width: 100%;
  thead tr, tbody tr {
    th, td {
      text-align: center;
      padding: 0.5em;
      border: 1px solid #cbcbcb;
      @media(max-width: $phoneish) {
        font-size: 0.75em;
        padding: 0.25em;
      }
    }
    th {
      background: #e0e0e0;
    }
    td {
      background: white;
    }
  }
}

.timesheet {
  margin: 0 auto -15vh;
  .fixed-top, .fixed-bottom, .middle {
    padding: 1em;
    left: 0;
    width: 100%;
  }
  .fixed-top, .fixed-bottom {
    position: fixed;
    z-index: 100;
  }
  .fixed-top {
    top: 0;
    height: 25vh;
    background: aliceblue;
  }
  .middle {
    position: absolute;
    top: 25vh;
    max-height: 50vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .fixed-bottom {
    bottom: 0;
    height: 15vh;
    &.translucent-bg {
      background-color: rgba(100, 100, 100, 0.3);
    }
  }
  .filter-btns {
    margin-bottom: 1em;
    .switch {
      label {
        background-color: #319C61;
        border: 1px solid darken(#319C61, 15%);
        border-right: 1px solid darken(#319C61, 15%);
      }
      input:checked {
        &~label {
          background-color: darken(#319C61, 15%);
        }
      }
    }
  }
}

.filter-stepper {
  margin-bottom: 1em;
  h4 {
    width: 5em;
    text-align: center;
  }
  .btn-filter-stepper {
    background: $navy;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    padding: 0 9px;
  }
}

@media(max-width: $phoneish) {
  .timesheet {
    .fixed-top, .fixed-bottom, .middle {
      padding: 0.5em;
    }
    .fixed-top, .fixed-bottom {
      position: fixed;
      z-index: 100;
    }
    .fixed-top {
      top: 0;
      height: 20vh;
      background: aliceblue;
    }
    .middle {
      top: 20vh;
      max-height: 55vh;
    }
    .filter-btns {
      height: 35px;
      margin-bottom: 1em;
      .switch {
        height: 35px;
        label {
          font-size: 12px;
          padding: 8px;
          height: 35px;
        }
        input:checked {
          &~label {
            height: 35px;
            font-size: 12px;
            padding: 8px;
          }
        }
      }
    }
    .filter-stepper {
      .btn-filter-stepper {
        width: 35px;
        height: 35px;
        border-radius: 3px;
        font-size: 20px;
      }
    }
  }
}

.login-form {
  input {
    color: #333;
  }
}

.no-feedings {
  padding-top: 5em;
  h1 {
    font-weight: 100;
    text-align: center;
  }
  h3 {
    margin-bottom: 3em;
  }
}

.big-downward-arrow {
  position: relative;
  &:before {
    content: '\f103';
    font-family: 'FontAwesome';
    font-size: 3em;
    font-weight: 100;
    position: absolute;
    left: 45%;
  }
}

.settings-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  .settings-btn {
    z-index: 0
  }
  a {
    color: lighten($purps, 30%);
  }
}

.form-group {
  label[for='rate'] {
    position: relative;
    &:before {
      content: '$';
      background-color: #DADADA;
      font-size: 1.2em;
      left: 0.15em;
      top: 1.2em;
      color: #333;
      width: 1em;
      height: 1.6em;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #333;
      position: absolute;
    }
  }
  input[name='rate'] {
    padding-left: 1.75em;
    color: #333;
  }
}